@font-face {
  font-family: 'EspumaPro-Bold';
  src: url('./src/assets/fonts/EspumaPro-Bold/EspumaPro-Bold.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
